<h1>Next SpaceX launch <%= formatted_launch_time(@launch["launch_date_local"]) %></h1>
<h2><%= time_until_launch(@launch["launch_date_local"]) %> until launch.</h2>
<h2><%= @launch["mission_name"] %></h2>
<h2>Rocket: <%= @launch["rocket"]["rocket_name"] %></h2>
<h2>First Stage: <% @launch["rocket"]["first_stage"]["cores"].each do |core| %></h2>
  <p>Core serial: <%= core["core_serial"] %></p>
  <p>Intent to land?: <%= core["landing_intent"] %></p>
<% end %>
<h2>Second Stage/Payload: <% @launch["rocket"]["second_stage"]["payloads"].each do |payload| %></h2>
  <p><%= payload["payload_id"] %></p>
  <p>Customer: <%= payload["customers"].first %></p>
  <p>Payload type: <%= payload["payload_type"] %></p>
  <p>Payload mass: <%= payload["payload_mass_kg"] %> Kgs</p>
<% end %>

